<nav class="nav-list">
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/inv/type/1" title="see our customs">Custom</a></li>
        <li><a href="/inv/type/2" title="see our sedans">Sedan</a></li>
        <li><a href="/inv/type/3" title="see our suv">SUV</a></li>
        <li><a href="/inv/type/4" title="see our truck">Truck</a></li>
    </ul>
</nav>