<main>
    <h1>welcome to CSE Motors!</h1>
    <%- messages() %>
<section class="hero-section">
    <div>
        <ul>
            <li>DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>superman doors</li>
            <li>fuzzy dice!</li>
        </ul>
    <img src="/images/site/own_today.png" alt="today-image">
    </div>
</section>
<section class="delorean-section">

    <h2 class="header1">DMC Delorean Reviews</h2>
    <ul>
        <li>"so fast it's almost like traveling in time".(4/5)</li>
        <li>"Coolest ride on the road."(4/5)</li>
        <li>"i'm feeling McFly!"(5/5)</li>
        <li>"The most futuristic ride of our day".(4.5/5)</li>
        <li>"80's libin an i love it!"(5/5)</li>
    </ul>

    <h2 class="header2">Delorean Upgrades</h2>

    <div>
        <figure>
            <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
            <figcaption><a href="http://">Flux Capacitor</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
            <figcaption><a href="http://">Bumper Sticker</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/flame.jpg" alt="flame Decals">
            <figcaption><a href="">Flame Decals</a></figcaption>
        </figure>
        <figure>
            <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
            <figcaption><a href="http://">Hub Cap</a></figcaption>
        </figure>

    </div>
</section>
</main>