<!-- Basic structure to test -->
  <main>
    <h1> <%= title %></h1>
    <% if (flash.notice && flash.notice.length) { %>
      <div class="flash-message">
        <%= flash.notice[0] %>
      </div>
    <% } %>

    <div class="management-links">
      <a href="/views/inventory/add-classification.ejs">Add New Classification</a>
      <a href="/views/inventory/add-inventory.ejs">Add New Inventory Item</a>
    </div>
    
  </main>
 




