<main>
  <h1><%= title %></h1>
  <div class="error-message">
    <%- message %>
  </div>
  <p style="margin-top:2rem;font-size:1.2rem;">
    Oops! Something went wrong.<br>
    Maybe the flux capacitor needs a reboot?<br>
    <a href="/">Back to